<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= @page_title %></title>
  <link rel="stylesheet" href="/home.css" />
</head>

<body>



  <h1><%= @page_title %></h1>

  <ul style="list-style:none" >
    <% @playa_position.each do |playa| %>
    <li>
    <%= "#{playa["last_name"]}, #{playa["first_name"]}: #{playa["position"]}" %>
    </li>
    <% end %>
  </ul>
</body>
</html>







